{% extends "layout.tmpl" %}

{% block body %}
<section class="header">
  <div class="container">
    <div class="product flex flex--horizontal flex-mobile--column">
      <div class="product-description">
        <div class="product-name">The Data IDE for Developers</div>
        <ul class="product-features">
          <li><span class="material-icons">search</span>Query <strong>all</strong> your data (not just SQL)</li>
          <li><span class="material-icons">code</span>Script in your favorite language</li>
          <li><span class="material-icons">bar_chart</span>Create beautiful visualizations</li>
	  <li><span class="material-icons">groups</span>Share with your team</li>
	  <li><span class="material-icons">favorite</span>All in one application</li>
        </ul>
      </div>
      <div class="product-picture">
	<iframe src="https://www.youtube.com/embed/GnJP0zPMlek?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div id="http-panel" class="picture-text flex flex--horizontal flex-mobile--column">
      <div class="picture-text-description">
	<h1>Make HTTP requests</h1>
        <p>
          Use alone as a GUI HTTP client. Or use along with SQL,
          scripting and visualization panels to combine and visualize
          data from multiple sources.
        </p>
      </div>
      <div class="picture-text-picture">
	<a href="/http-panel.png">
	  <img src="/http-panel.png" alt="Screenshot of an HTTP panel in DataStation" />
	</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div id="sql-panel" class="picture-text flex flex--horizontal flex-mobile--column">
      <div class="picture-text-picture">
	<a href="/sql-panel.png">
	  <img src="/sql-panel.png" alt="Screenshot of a SQL panel in DataStation" />
	</a>
      </div>
      <div class="picture-text-description">
	<h1>Fetch data from SQL databases</h1>
        <p>
          Use alone as a GUI SQL editor. Or use with scripting and
          visualization panels for easy, advanced data analysis.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div id="code-panel" class="picture-text flex flex--horizontal flex-mobile--column">
      <div class="picture-text-description">
	<h1>Script against data</h1>
        <p>
          Use your favorite scripting languages to generate data for or
          manipulate data from other panels.
        </p>
      </div>
      <div class="picture-text-picture">
	<a href="/code-panel.png">
	  <img src="/code-panel.png" alt="Screenshot of a code panel in DataStation" />
	</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div id="code-panel" class="picture-text flex flex--horizontal flex-mobile--column">
      <div class="picture-text-description">
	<h1>Visualize results</h1>
      </div>
      <div class="picture-text-picture">
	<a href="/visualize-panel.png">
	  <img src="/visualize-panel.png" alt="Screenshot of a graph panel in DataStation" />
	</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1 id="features-and-pricing">Features and Pricing</h1>
    <table>
      <thead>
	<tr>
	  <th></th>
	  <th>Online Environment</th>
	  <th>Desktop (Professional Edition)</th>
	  <th>Desktop (Community Edition)</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>License</td>
	  <td>Open Source (Apache 2.0)</td>
	  <td>Commercial</td>
	  <td>Open Source (Apache 2.0)</td>
	</tr>
	<tr>
	  <td>Price</td>
	  <td>Free</td>
	  <td><span class="coming-soon">Coming soon</span></td>
	  <td>Free</td>
	</tr>
	<tr>
	  <td>Availability</td>
	  <td><a href="https//app.datastation.multiprocess.io">Try it now!</a></td>
	  <td><span class="coming-soon">Coming soon</span></td>
	  <td><a href="https://github.com/multiprocessio/datastation/releases/tag/{{latest_version}}">Install now!</span></td>
</tr>
<tr>
  <td>Storage Location</td>
  <td>Your browser</td>
  <td>Your computer</td>
  <td>Your computer</td>
</tr>
<tr>
  <td>HTTP Support</td>
  <td>Only servers that set CORS headers</td>
  <td>No limitations</td>
  <td>No limitations</td>
</tr>
<tr>
  <td>SQL Support</td>
  <td>No remote tables, in-memory SQL only</td>
  <td>PostgreSQL, MySQL, in-memory SQL</td>
  <td>PostgreSQL, MySQL, in-memory SQL</td>
</tr>
<tr>
  <td>SSH Proxies</td>
  <td>Not supported</td>
  <td>SSH proxying supported for HTTP requests, SQL queries, and SFTP file access</td>
  <td>SSH proxying supported for HTTP requests, SQL queries, and SFTP file access</td>
</tr>
<tr>
  <td>Scripting Support</td>
  <td>JavaScript, Python</td>
  <td>
    JavaScript, Python, Julia, R, Ruby
  </td>
  <td>
    JavaScript, Python, Julia, R, Ruby
  </td>
</tr>
<tr>
  <td>Visualization Support</td>
  <td>No limitations</td>
  <td>No limitations</td>
  <td>No limitations</td>
</tr>
<tr>
  <td>Log Connectors</td>
  <td>None</td>
  <td><span class="coming-soon">Coming soon: ElasticSearch, Splunk</span></td>
  <td>None</td>
</tr>
<tr>
  <td>Productivity Connectors</td>
  <td>None</td>
  <td><span class="coming-soon">Coming soon: Jira, Github</span></td>
  <td>None</td>
</tr>
<tr>
  <td>Support</td>
  <td>Best effort</td>
  <td>Guaranteed</td>
  <td>Best effort</td>
</tr>
</tbody>
</table>
</div>
</section>
<section id="online-environment">
  <div class="container">
    <div class="picture-text flex flex--horizontal flex-mobile--column">
      <div class="picture-text-picture">
	<a href="/screenshot.jpg">
	  <img src="/screenshot.jpg" alt="Screenshot of DataStation online environment" />
	</a>
	<div class="text-center hide-mobile">
	  <a href="https://app.datastation.multiprocess.io">app.multiprocess.datastation.io</a>
	</div>
      </div>
      <div class="picture-text-description">
	<h1>Online Environment</h1>
	<p>
	  The <a href="https://app.datastation.multiprocess.io">online
	    environment</a> is freely available for data exploration in the
	  browser. No account required!
	</p>
	<h2>Entirely in-memory</h2>
	<p>
	  HTTP requests happen from the browser without any proxy (so
	  your server must set CORS headers). SQL, JavaScript, and
	  Python are available and interpreted within the browser.
	</p>
	<h2>Own your data</h2>
	<p>
	  Since there is no server, you can safely use it at work or
	  home. The data never leaves your computer.
	</p>
	<h2>Share projects safely</h2>
	<p>
	  Project state can be serialized to a shareable URL by
	  clicking the Share button in the top right.
	</p>
	<h2 class="show-mobile">Great for desktop</h2>
	<div class="show-mobile warn">
	  <p>
	    The online environment is for use on desktop computers, so
	    you'll have to try it out on another device.
	  </p>
	</div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
