{% extends "layout.tmpl" %}
{% block body %}
<style>
  :root {
      --background-dark: #252539;
  }
  
  /* https://elad2412.github.io/the-new-css-reset/ */
  /*** The new CSS Reset - version 1.4.0 (last updated 16.11.2021) ***/

  /*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
  *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
      all: unset;
      display: revert;
  }

  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }

  /* For images to not be able to exceed their container */
  img {
      max-width: 100%;
      max-height: 100%;
  }

  /* removes spacing between cells in tables */
  table {
      border-collapse: collapse;
  }

  /* revert the 'white-space' property for textarea elements on Safari */
  textarea {
      white-space: revert;
  }

  /* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
  :where([contenteditable]){
      -webkit-user-modify: read-write;
      overflow-wrap: break-word;
      -webkit-line-break: after-white-space;
  }
</style>
<style>
  * {
      transition: border .5s, background-color .5s, opacity 3s;
  }

  h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 30px;
  }

  section:not(:first-of-type) {
      padding: 100px 0;
  }

  tbody td:first-of-type,
  thead th:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      font-size: .75rem;
      color: #777;
      text-align: right;
  }

  thead th {
      font-weight: bold;
      text-transform: uppercase;
      font-size: .75rem;
  }

  tbody td:not(:first-of-type) {
      font-size: 1.2rem;
      color: black;
  }

  tbody td:nth-of-type(2),
  thead th:nth-of-type(2) {
      background: #b442fc;
      color: white;
      border-bottom: solid 1px #b442fc;
  }

  tbody td:nth-of-type(2) a,
  thead th:nth-of-type(2) a {
      color: white;
  }

  td, th {
      padding: 15px;
  }


  header, #hero {
      font-family: sans-serif;
  }

  section#hero {
      padding: 0;
      color: white;
      background: var(--background-dark);
  }

  #hero h1 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0;
      min-width: 300px;
  }

  #hero h1 .color-yellow {
      font-size: 4rem;
  }

  #hero h2 {
      font-size: 1.8rem;
      padding-top: 15px;
  }

  .hero-picture {
      flex: auto;
      text-align: center;
  }

  .hero-footer {
      padding-top: 50px;
      text-align: center;
  }

  .foss {
      padding-top: 15px;
      display: inline-block;
      text-decoration: underline;
  }

  .product-features {
      padding-top: 15px;
  }

  .product-features li {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
  }

  .product-features li .material-icons {
      padding-right: 10px;
  }

  .container {
      max-width: 1200px;
  }
  
  section:nth-of-type(odd) {
      background: var(--background-dark);
      color: white;
  }

  @media only screen and (max-width: 1100px) {
      header, section:not(:first-of-type), #hero .tabs-container {
	  padding: 15px 0;
      }

      #hero .hero-text {
	  flex: 1;
      }

      #hero h1 {
	  font-size: 2.5rem;
      }

      #hero .product-features li {
	  font-size: .8rem;
      }

      #hero .tabs-controls .tab-control {
	  padding: 30px;
	  width: 50%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
      }

      .hide-mobile {
	  display: none;
      }
  }
</style>
<section id="hero">
  <div class="container">
    <div id="hero-desktop">
      <div class="flex flex--horizontal">
	<div class="hero-text">
	  <h1>The open-source <span class="color-yellow">Data IDE</span> for <span class="color-green">Developers</span></h1>
	  <ul class="product-features">
	    <li>
	      <span class="material-icons">search</span>
	      <span>Load from databases, REST APIs and files</span>
	    </li>
	    <li>
	      <span class="material-icons">code</span>
	      <span>Script in your favorite language</span>
	    </li>
	    <li>
	      <span class="material-icons">bar_chart</span>
	      <span>Create beautiful visualizations</span>
	    </li>
	    <li>
	      <span class="material-icons">lock</span>
	      <span>Data never leaves your machine</span>
	    </li>
	    <li>
	      <span class="material-icons color-light-purple">favorite</span>
	      <span>Desktop app on Windows, macOS, or Linux</span>
	    </li>
          </ul>
	</div>
	<div class="hero-picture hide-mobile">
	  <div class="carousel">
	    <div class="carousel-images">
	      <div class="carousel-image" id="carousel-database">
		<img loading="lazy" src="/database-panel.png" />
		<small>Query SQL and non-SQL databases</small>
	      </div>
	      <div class="carousel-image" id="carousel-http">
		<img loading="lazy" src="/http-panel.png" />
		<small>Query REST APIs</small>
	      </div>
	      <div class="carousel-image" id="carousel-file">
		<img loading="lazy" src="/file-panel.png" />
		<small>Read local and remote files</small>
	      </div>
	      <div class="carousel-image" id="carousel-script">
		<img loading="lazy" src="/visual-transform-panel.png" />
		<small>Apply transformations without code</small>
	      </div>
	      <div class="carousel-image" id="carousel-script">
		<img loading="lazy" src="/code-panel.png" />
		<small>Or script in Python, JavaScript, Ruby, R, Julia</small>
	      </div>
	      <div class="carousel-image" id="carousel-visualize">
		<img loading="lazy" src="/visualize-panel.png" />
		<small>Visualize results</small>
	      </div>
	    </div>
	    <div class="carousel-selectors"></div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1>Your data is all over the place</h1>
    <div class="features flex flex--horizontal">
      <div>
	<h2>Databases</h2>
	<ul>
	  <li>PostgreSQL, MySQL, Oracle, SQL Server, SQLite</li>
	  <li>Cassandra, Scylla, QuestDB</li>
	  <li>Elasticsearch, CrateDB</li>
	  <li>ClickHouse, BigQuery, Snowflake, Yugabyte, Timescale</li>
	  <li>Influx, Prometheus</li>
	  <li>and so on</li>
	</ul>
      </div>
      <div>
	<h2>REST APIs</h2>
	<ul>
	  <li>JIRA, Github, Gitlab, Asana</li>
	  <li>Salesforce, HubSpot, SugarCRM</li>
	  <li>Assorted internal systems</li>
	</ul>
      </div>
      <div>
	<h2>Files</h2>
	<ul>
	  <li>Excel sheets from a product manager</li>
	  <li>CSVs, Parquet files from data scientists</li>
	</ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1>Limited options for interacting with all of it</h1>
    <div class="features flex flex--horizontal">
      <div>
	<h2>BI Tools, SQL GUIs</h2>
	<ul>
	  <li>Constrained to SQL databases</li>
	  <li>How to escape back into code for complex reports?</li>
	</ul>
      </div>
      <div>
	<h2>Data Warehouse</h2>
	<ul>
	  <li>Expensive to purchase</li>
	  <li>Expensive to maintain</li>
	  <li>Expensive to set up each new data source</li>
	  <li>Impossible for an individual developer</li>
	</ul>
      </div>
      <div>
	<h2>Custom Scripts</h2>
	<ul>
	  <li>Time consuming</li>
	  <li>Infinitely flexible</li>
	</ul>
      </div>
    </div>
  </div>
</section>
<script>
  let currentHash = null;
  function reloadHero() {
      if (location.hash === currentHash) {
	  return;
      }

      currentHash = location.hash;

      const selected = currentHash === '#hero-server' ? 'hero-server' : 'hero-desktop';
      const tabs = document.querySelectorAll(".tabs-body");
      for (let i = 0; i < tabs.length; i++) {
	  const tab = tabs[i];
	  const tabControl = document.querySelector(`.tab-control[href="#${tab.id}"]`);
	  if (tab.id === selected) {
	      tab.style.display = 'initial';
	      tabControl.className= "tab-control selected";
	  } else {
	      tab.style.display = 'none';
	      tabControl.className= "tab-control";
	  }
      }
  }

  function spinCarousel(c) {
      const carouselBase = '.carousel-image';
      const images = [...c.querySelectorAll(carouselBase)];
      if (!images.length) {
	  return;
      }

      const selectors = c.querySelector('.carousel-selectors');
      if (!selectors.querySelectorAll('.carousel-selector').length) {
	  for (let i = 0; i < images.length; i++) {
	      const sel = document.createElement('div');
	      sel.className = "carousel-selector" + (i === 0 ? ' selected' : '');
	      selectors.appendChild(sel);
	  }
      }

      let selected = false;
      for (let i = 0; i < images.length; i++) {
	  const img = images[i];
	  if (!selected && img.className.includes('selected')) {
	      selected = true;
	      img.className = carouselBase.slice(1);
	      const nextIndex = (i + 1) % images.length;
	      images[nextIndex].className = img.className + " selected";
	      c.querySelectorAll('.carousel-selector')[i].className = "carousel-selector";
	      c.querySelectorAll('.carousel-selector')[nextIndex].className = "carousel-selector selected";
	  }
      }

      if (!selected) {
	  images[0].className = carouselBase.slice(1) + " selected";
      }
  }

  window.onload = function() {
      reloadHero();
      setInterval(reloadHero, 500);

      const carousels = [...document.querySelectorAll('.carousel')];
      for (const carousel of carousels) {
	  spinCarousel(carousel);
	  const c = carousel;
	  setInterval(() => spinCarousel(c), 7000);
      }
  }
</script>
{% endblock %}
