{% extends "layout.tmpl" %}
{% block body %}
<style>
  /* https://elad2412.github.io/the-new-css-reset/ */
  /*** The new CSS Reset - version 1.4.0 (last updated 16.11.2021) ***/

  /*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
  *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
      all: unset;
      display: revert;
  }

  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }

  /* Remove list styles (bullets/numbers) */
  ol, ul {
      list-style: none;
  }

  /* For images to not be able to exceed their container */
  img {
      max-width: 100%;
      max-height: 100%;
  }

  /* removes spacing between cells in tables */
  table {
      border-collapse: collapse;
  }

  /* revert the 'white-space' property for textarea elements on Safari */
  textarea {
      white-space: revert;
  }

  /* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
  :where([contenteditable]){
      -webkit-user-modify: read-write;
      overflow-wrap: break-word;
      -webkit-line-break: after-white-space;
  }
</style>
<style>
  * {
      transition: border .5s, background-color .5s, opacity 3s;
  }

  h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 30px;
  }

  section:not(:first-of-type) {
      padding: 100px 0;
  }

  section:not(:first-of-type) a {
      text-decoration: underline;
  }

  tbody td:first-of-type,
  thead th:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      font-size: .75rem;
      color: #777;
      text-align: right;
  }

  thead th {
      font-weight: bold;
      text-transform: uppercase;
      font-size: .75rem;
  }

  tbody td:not(:first-of-type) {
      font-size: 1.2rem;
      color: black;
  }

  tbody td:nth-of-type(2),
  thead th:nth-of-type(2) {
      background: #b442fc;
      color: white;
      border-bottom: solid 1px #b442fc;
  }

  tbody td:nth-of-type(2) a,
  thead th:nth-of-type(2) a {
      color: white;
  }

  td, th {
      padding: 15px;
  }


  header, #hero {
      font-family: sans-serif;
  }

  section#hero {
      padding: 0;
      color: white;
      background: #252529;
  }

  #hero h1 {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 0;
  }

  #hero h2 {
      font-size: 1.8rem;
      padding-top: 15px;
  }

  #hero .carousel-image.selected {
      height: 470px;
  }

  .hero-text {
      flex: 0 0 550px;
  }

  .hero-picture {
      flex: auto;
      text-align: center;
  }

  .hero-footer {
      padding-top: 50px;
      text-align: center;
  }

  .foss {
      padding-top: 15px;
      display: inline-block;
      text-decoration: underline;
  }

  .product-features {
      padding-top: 15px;
  }

  .product-features li {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
  }

  .product-features li .material-icons {
      padding-right: 10px;
  }

  @media only screen and (max-width: 1100px) {
      header, section:not(:first-of-type), #hero .tabs-container {
	  padding: 15px 0;
      }

      #hero .hero-text {
	  flex: 1;
      }

      #hero h1 {
	  font-size: 2.5rem;
      }

      #hero .product-features li {
	  font-size: .8rem;
      }

      #hero .tabs-controls .tab-control {
	  padding: 30px;
	  width: 50%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
      }

      .hide-mobile {
	  display: none;
      }
  }
</style>
<section id="hero">
  <div class="tabs">
    <div class="tabs-controls-container">
      <div class="container">
	<div class="tabs-controls">
	  <a href="#hero-desktop" class="tab-control">For Developers</a>
	  <a href="#hero-server" class="tab-control">For Business</a>
	</div>
      </div>
    </div>
    <div class="tabs-container">
      <div class="container">
	<div id="hero-desktop" class="tabs-body">
	  <div class="flex flex--horizontal">
	    <div class="hero-text">
	      <h1><span class="color-yellow">SQL IDE</span> meets <span class="color-green">Computational Notebook</span>.</h1>
	      <ul class="product-features">
		<li>
		  <span class="material-icons">search</span>
		  <span>Load from databases, REST APIs and files</span>
		</li>
		<li>
		  <span class="material-icons">code</span>
		  <span>Script in your favorite language</span>
		</li>
		<li>
		  <span class="material-icons">bar_chart</span>
		  <span>Create beautiful visualizations</span>
		</li>
		<li>
		  <span class="material-icons">lock</span>
		  <span>Data never leaves your machine</span>
		</li>
		<li>
		  <span class="material-icons color-light-purple">favorite</span>
		  <span>Desktop app on Windows, macOS, or Linux</span>
		</li>
              </ul>
	    </div>
	    <div class="hero-picture hide-mobile">
	      <div class="carousel">
		<div class="carousel-images">
		  <div class="carousel-image" id="carousel-database">
		    <img loading="lazy" src="/database-panel.png" />
		    <small>Query SQL and non-SQL databases</small>
		  </div>
		  <div class="carousel-image" id="carousel-http">
		    <img loading="lazy" src="/http-panel.png" />
		    <small>Query REST APIs</small>
		  </div>
		  <div class="carousel-image" id="carousel-file">
		    <img loading="lazy" src="/file-panel.png" />
		    <small>Read local and remote files</small>
		  </div>
		  <div class="carousel-image" id="carousel-script">
		    <img loading="lazy" src="/code-panel.png" />
		    <small>Script in Python, JavaScript, Ruby, R, Julia</small>
		  </div>
		  <div class="carousel-image" id="carousel-visualize">
		    <img loading="lazy" src="/visualize-panel.png" />
		    <small>Visualize results</small>
		  </div>
		</div>
		<div class="carousel-selectors"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="hero-server" class="tabs-body">
	  <div class="flex flex--horizontal">
	    <div class="hero-text">
	      <h1>Turn scripts into <span class="color-yellow">dashboards</span> and <span class="color-green">exports</span>.</h1>
	      <ul class="product-features">
		<li>
		  <span class="material-icons">bar_chart</span>
		  <span>Create reports on your data, wherever it is</span>
		</li>
		<li>
		  <span class="material-icons">schedule</span>
		  <span>Schedule recurring exports of reports</span>
		</li>
		<li>
		  <span class="material-icons">code</span>
		  <span>Customize everything through scripts</span>
		</li>
		<li>
		  <span class="material-icons">groups</span>
		  <span>Work on projects as a team</span>
		</li>
		<li>
		  <span class="material-icons color-light-purple">favorite</span>
		  <span>It's easy! No ETL processes required</span>
		</li>
              </ul>
	    </div>
	    <div class="hero-picture hide-mobile">
	      <div class="carousel">
		<div class="carousel-images">
		  <div class="carousel-image">
		    <img loading="lazy" src="/0.3.0-dashboard.png" />
		    <small>Share read-only dashboard views</small>
		  </div>
		  <div class="carousel-image">
		    <img loading="lazy" src="/0.3.0-exports.png" />
		    <small>Schedule email exports of projects</small>
		  </div>
		</div>
		<div class="carousel-selectors"></div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1 id="pricing">Pricing</h1>
    <table>
      <thead>
	<tr>
	  <th>Edition</th>
	  <th>Professional</th>
	  <th>Community</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>Deployment</td>
	  <td>Desktop, Server</td>
	  <td>Desktop, Server</td>
	</tr>
	<tr>
	  <td>Hosting</td>
	  <td>Self-hosted</td>
	  <td>Self-hosted</td>
	</tr>
	<tr>
	  <td>Pricing</td>
	  <td><a href="mailto:phil@multiprocess.io">Contact us</a></td>
	  <td>Free</td>
	</tr>
	<tr>
	  <td>Support</td>
	  <td>Guaranteed<br />M-F, 9-7pm ET</td>
	  <td>Best effort</td>
	</tr>
	<tr>
	  <td>Get started</td>
	  <td><a href="mailto:phil@multiprocess.io">Contact us</a></td>
	  <td><a href="/docs/">Install now</a></td>
	</tr>
      </tbody>
    </table>
  </div>
</section>
<script>
  let currentHash = null;
  function reloadHero() {
      if (location.hash === currentHash) {
	  return;
      }

      currentHash = location.hash;

      const selected = currentHash === '#hero-server' ? 'hero-server' : 'hero-desktop';
      const tabs = document.querySelectorAll(".tabs-body");
      for (let i = 0; i < tabs.length; i++) {
	  const tab = tabs[i];
	  const tabControl = document.querySelector(`.tab-control[href="#${tab.id}"]`);
	  if (tab.id === selected) {
	      tab.style.display = 'initial';
	      tabControl.className= "tab-control selected";
	  } else {
	      tab.style.display = 'none';
	      tabControl.className= "tab-control";
	  }
      }
  }

  function spinCarousel(c) {
      const carouselBase = '.carousel-image';
      const images = [...c.querySelectorAll(carouselBase)];
      if (!images.length) {
	  return;
      }

      const selectors = c.querySelector('.carousel-selectors');
      if (!selectors.querySelectorAll('.carousel-selector').length) {
	  for (let i = 0; i < images.length; i++) {
	      const sel = document.createElement('div');
	      sel.className = "carousel-selector" + (i === 0 ? ' selected' : '');
	      selectors.appendChild(sel);
	  }
      }

      let selected = false;
      for (let i = 0; i < images.length; i++) {
	  const img = images[i];
	  if (!selected && img.className.includes('selected')) {
	      selected = true;
	      img.className = carouselBase.slice(1);
	      const nextIndex = (i + 1) % images.length;
	      console.log(i, nextIndex, c);
	      images[nextIndex].className = img.className + " selected";
	      c.querySelectorAll('.carousel-selector')[i].className = "carousel-selector";
	      c.querySelectorAll('.carousel-selector')[nextIndex].className = "carousel-selector selected";
	  }
      }

      if (!selected) {
	  images[0].className = carouselBase.slice(1) + " selected";
      }
  }

  window.onload = function() {
      reloadHero();
      setInterval(reloadHero, 500);

      const carousels = [...document.querySelectorAll('.carousel')];
      for (const carousel of carousels) {
	  spinCarousel(carousel);
	  const c = carousel;
	  setInterval(() => spinCarousel(c), 7000);
      }
  }
</script>
{% endblock %}
