<meta charset="UTF-8">
<link href="/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/reset.min.css" />
<link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />
<link href="/materialicons.css" rel="stylesheet">

{% block head %}{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ title }}</title>

<div class="notification">
  <div class="container">
    July 22, 2022: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdNhU5k3FsIkcea_CTPVrmJ45k0czRz60XqLmBVUE5TjaT_jg/viewform">Help us out by filling out a short user survey!</a>
  </div>
</div>
<header>
  <div class="container">
    <div class="vertical-align-center">
      <div>
    	<a class="title" href="/"><img src="/icons/LargeDarkOnTransparent.png" />DataStation</a>
      </div>
      <div class="flex-right header-right">
	<iframe src="/stars/datastation.html" frameborder="0" scrolling="0" width="100" height="20" title="Stars"></iframe>
	<a href="/docs/" class="btn btn--primary hide-mobile">Install the App</a>
      </div>
    </div>
  </div>
  <div id="subheader">
    <div class="container">
      <div class="vertical-align-center">
	<a href="/docs">Learn</a>
	<a href="/blog">Blog</a>
	<a href="https://discord.multiprocess.io">Community</a>
	<a class="hide-mobile" href="https://app.datastation.multiprocess.io">Try the online demo<span class="material-icons">arrow_forward</span></a>
      </div>
    </div>
  </div>
</header>

{% block body %}{% endblock %}

<footer>
  <div class="container">
    <div class="logo">
      <a class="title" href="/"><img src="/icons/LargeDarkOnTransparent.png" />DataStation</a>
      <div class="copyright">
	&copy; <a href="https://multiprocess.io">Multiprocess Labs LLC</a>
      </div>
    </div>
    <div class="flex flex--horizontal footer">
      <div>
	<div class="footer-header">Use cases</div>
	<ul>
	  <li><a href="/docs/tutorials/Query_PostgreSQL_with_DataStation.html">Query PostgreSQL</a></li>
	  <li><a href="/docs/tutorials/Query_MySQL_with_DataStation.html">Query MySQL</a></li>
	  <li><a href="/docs/tutorials/Query_SQLite_with_DataStation.html">Query SQLite</a></li>
	  <li><a href="/docs/tutorials/Query_Elasticsearch_with_DataStation.html">Query Elasticsearch</a></li>
	  <li><a href="/docs/tutorials/Query_Prometheus_with_DataStation.html">Query Prometheus</a></li>
	  <li><a href="/docs/tutorials/Query_Influx_(2.x)_with_DataStation_(Flux).html">Query Influx 2.x</a></li>
	  <li><a href="/docs">And many more</a></li>
	</ul>
      </div>
      <div>
	<div class="footer-header">Community</div>
      	<ul>
	  <li><a href="https://discord.multiprocess.io">Discord</a></li>
	  <li><a href="https://meetup.com/hackernights">Hacker Nights Meetup</a></li>
	  <li><a href="https://github.com/multiprocessio/datastation">Github</a></li>
      </div>
      <div>
	<div class="footer-header">Company</div>
	<ul>
	  <li><a href="https://multiprocess.io">About</a></li>
	  <li><a href="/blog">Blog</a></li>
	  <li><a href="https://twitter.com/multiprocessio">Twitter</a></li>
	  <li><a href="https://www.linkedin.com/company/multiprocess-labs/">LinkedIn</a></li>
	  <li><a href="mailto:hi@multiprocess.io">Contact</a></li>
	</ul>
      </div>
    </div>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-195070972-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-195070972-1');
</script>

<script type="text/javascript">
 // SOURCE: https://stackoverflow.com/a/7995898/1507139
 var isMobile = Boolean(navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i));
 if (isMobile) {
   var hideMobile = document.querySelectorAll('.hide-mobile');
   for (var i = 0; i < hideMobile.length; i++) {
     hideMobile[i].remove();
   }

   var showMobile = document.querySelectorAll('.show-mobile');
   for (var i = 0; i < showMobile.length; i++) {
     showMobile[i].className = showMobile[i].className.replace('show-mobile', '');
   }
 }
</script>