<link href="/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="/favicon.png" />

{% block head %}{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ title }}</title>

<div class="hide-mobile notification">
  <div class="container">
    December 23, 2021: DataStation 0.5.0 is now available! <a href="/docs/0.5.0-release-notes.html">Read more.</a>
  </div>
</div>
<header>
  <div class="container">
    <div class="vertical-align-center">
      <div>
	<a id="title" href="/">DataStation</a>
	<span id="subtitle">The Open-Source Data IDE</span>
      </div>
      <div class="flex-right header-right">
	<iframe src="/stars/datastation.html" frameborder="0" scrolling="0" width="100" height="20" title="Stars"></iframe>
	<a href="/docs/" class="btn btn--primary hide-mobile">Install the App</a>
	<a href="https://forms.gle/wH5fdxrxXwZHoNxk8" class="header-subscribe">Subscribe</a>
      </div>
    </div>
  </div>
  <div id="subheader" class="hide-mobile">
    <div class="container">
      <div class="vertical-align-center">
	<a href="/docs">Documentation</a>
	<a href="/blog">Blog</a>
	<a href="/#the-pitch">The Pitch</a>
	<a href="https://discord.gg/f2wQBc4bXX">Community</a>
	<a href="https://app.datastation.multiprocess.io">Try it out online!</a>
      </div>
    </div>
  </div>
</header>

{% block body %}{% endblock %}

<footer>
  <div class="container">
    <div>
      <a href="/" class="site-name">DataStation</a>
    </div>
    <div>
      <a href="/docs">Documentation</a>
    </div>
    <div>
      <a href="/blog">Blog</a>
    </div>
    <div>
      <a href="https://discord.gg/f2wQBc4bXX">Community</a>
    </div>
    <div>
      <a href="https://twitter.com/multiprocessio">Twitter</a>
    </div>
    <div>
      <a href="https://github.com/multiprocessio/datastation">Github</a>
    </div>
    <div>
      <a href="mailto:phil@multiprocess.io">Contact</a>
    </div>
    <div>
    &copy; 2021 Multiprocess Labs LLC
    </div>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-195070972-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-195070972-1');
</script>

<script type="text/javascript">
  // SOURCE: https://stackoverflow.com/a/7995898/1507139
  var isMobile = Boolean(navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i));
  if (isMobile) {
    var hideMobile = document.querySelectorAll('.hide-mobile');
    for (var i = 0; i < hideMobile.length; i++) {
      hideMobile[i].remove();
    }

    var showMobile = document.querySelectorAll('.show-mobile');
    for (var i = 0; i < showMobile.length; i++) {
      showMobile[i].className = showMobile[i].className.replace('show-mobile', '');
    }
  }

if (location.pathname !== '/') {
  const headers = document.querySelectorAll('h2, h3, h4, h5, h6, .post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6');
  for (let i = 0; i < headers.length; i++) {
    const id = headers[i].innerHTML.replaceAll(' ', '-').toLowerCase();
    headers[i].id = id;
    if (!isMobile) {
      const headerLink = document.createElement('a');
      headerLink.className = 'header-link material-icons';
      headerLink.innerHTML = 'link';
      headerLink.href = window.location.pathname + '#' + id;
      headers[i].prepend(headerLink);
    }
  }
  }
</script>
