<link href="/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ title }}</title>

<header>
  <div class="container flex flex--horizontal">
    <a href="/" class="site-name header-item">DataStation</a>
    <a href="/docs" class="hide-mobile header-item">Documentation</a>
    <a href="/blog" class="hide-mobile header-item">Blog</a>
    <a href="https://discord.gg/f2wQBc4bXX" class="hide-mobile header-item">Community</a>
    <a href="https://forms.gle/wH5fdxrxXwZHoNxk8" class="hide-mobile header-item">Subscribe</a>
    <div class="header-item">
      <iframe
	src="https://ghbtns.com/github-btn.html?user=multiprocessio&repo=datastation&type=star&count=true&size=medium"
	frameBorder="0"
	scrolling="0"
	width="80"
	height="20"
	title="GitHub"
	></iframe>
    </div>
    <a href="https://twitter.com/multiprocessio" class="hide-mobile header-item">
      <img height="20" width="20" src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/twitter.svg" />
    </a>
    <a href="https://github.com/multiprocessio/datastation" class="hide-mobile header-item">
      <img height="20" width="20" src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg" />
    </a>
    <div class="header-item hide-mobile">
      <a href="https://github.com/multiprocessio/datastation/releases/tag/{{latest_version}}" class="try-it-online button" target="_blank">Install now!</a>
      <a href="https://app.datastation.multiprocess.io" target="_blank">Or try it online</a>
    </div>
  </div>
</header>

{% block body %}{% endblock %}

<footer>
  <div class="container">
    <div>
      <a href="/" class="site-name">DataStation</a>
    </div>
    <div>
      <a href="/docs">Documentation</a>
    </div>
    <div>
      <a href="/blog">Blog</a>
    </div>
    <div>
      <a href="https://discord.gg/f2wQBc4bXX">Community</a>
    </div>
    <div>
      <a href="https://forms.gle/wH5fdxrxXwZHoNxk8">Subscribe</a>
    </div>
    <div>
      <a href="https://twitter.com/multiprocessio">Twitter</a>
    </div>
    <div>
      <a href="https://github.com/multiprocessio/datastation">Github</a>
    </div>
        <div>
      <iframe
	 src="https://ghbtns.com/github-btn.html?user=multiprocessio&repo=datastation&type=star&count=true&size=medium"
	 frameBorder="0"
	 scrolling="0"
	 width="80"
	 height="20"
	 title="GitHub"
	 ></iframe>
    </div>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DR7CMKJCTS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DR7CMKJCTS');
</script>

<script type="text/javascript">
  // SOURCE: https://stackoverflow.com/a/7995898/1507139
  var isMobile = Boolean(navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i));
  if (isMobile) {
    var hideMobile = document.querySelectorAll('.hide-mobile');
    for (var i = 0; i < hideMobile.length; i++) {
      hideMobile[i].remove();
    }

    var showMobile = document.querySelectorAll('.show-mobile');
    for (var i = 0; i < showMobile.length; i++) {
      showMobile[i].className = showMobile[i].className.replace('show-mobile', '');
    }
  }
</script>
