{% set title = 'Get paid to research and write technical posts | DataStation' %}
{% extends 'layout.tmpl' %}

{% block body %}
<section class="post-header">
  <div class="container">
    <h1>Get paid to research and write technical posts</h1>
    <div class="post-subtitle">By <a href="mailto:phil@multiprocess.io">Phil Eaton</a></div>
  </div>
</section>
<section class="post-body">
  <div class="container">
    <p>
      I'm looking for college students (probably majoring in CS/EE or
      a related field) interested in researching the structure and history
      of open-source projects. You will work closely with me to pick a
      topic and get paid $250 per article on completion. Most blog posts
      take me 3-6 hours to write which would put this around $40-$80/hr.
    </p>
    <p>
      After agreeing on a topic, you will do the primary research and
      writing. I'll help out with guidance, pointers, and editing. Posts
      should be in the ballpark of 600-1000 words. But so long as the
      topic is explored to a high degree of quality, the word length is
      not of critical importance.
    </p>
    <p>
      Your name and link will be on the post. Posts will be submitted to
      popular link aggregators and often end up featured on the front page
      of sites like Hacker News.
    </p>
    <p>
      Example topics include:
    </p>
    <ul>
      <li>The code structure and design decisions behind <a href="https://www.chartjs.org/">Chart.js</a></li>
      <li>The history of and differentiation between Apache stream processing projects like <a href="https://flume.apache.org/">Flume</a>, <a href="https://spark.apache.org/">Spark, <a href="https://storm.apache.org/">Storm</a>, etc.</li>
      <li>Writing a PostgreSQL storage extension to SELECT from CSV</li>
    </ul>
    <p>
      You can find more examples of existing posts on
      the <a href="https://datastation.multiprocess.io/blog">DataStation
	blog</a> and on <a href="https://notes.eatonphil.com">my personal
	blog</a>.
    </p>
    <p>
      If this sounds interesting,
      please <a href="mailto:phil@multiprocess.io">email me</a> with one
      or more samples of writing on a technical topic (could be from a
      school paper you wrote, your own blog, etc.).
    </p>
  </div>
</section>
{% endblock %}
