{% set week_events = events[20210614] %}

{% extends "blog/events.tmpl" %}

{% block postDate %}June 14, 2021{% endblock %}
{% block postAuthor %}Phil Eaton{% endblock %}
{% block postAuthorEmail %}phil@multiprocess.io{% endblock %}
{% block postTitle %}This week in interesting, remote-friendly tech talks{% endblock %}
{% block postTags %}tech-talks{% endblock %}

{% block tweet %}
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Ever wanted to run something other than JavaScript in the browser? Here&#39;s a post describing how to run languages like <a href="https://twitter.com/hashtag/python?src=hash&amp;ref_src=twsrc%5Etfw">#python</a> and <a href="https://twitter.com/hashtag/sql?src=hash&amp;ref_src=twsrc%5Etfw">#sql</a> in the browser thanks to work by <a href="https://twitter.com/kripken?ref_src=twsrc%5Etfw">@kripken</a>, <a href="https://twitter.com/brython3?ref_src=twsrc%5Etfw">@brython3</a> and others<a href="https://t.co/OJ4Pm3OGy7">https://t.co/OJ4Pm3OGy7</a></p>&mdash; DataStation (@multiprocessio) <a href="https://twitter.com/multiprocessio/status/1405631574373240838?ref_src=twsrc%5Etfw">June 17, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
