{% extends "blog/layout.tmpl" %}

{% block postTitle %}Languages you can run in the browser (languages implemented in JavaScript){% endblock %}
{% block postDate %}June 17, 2021{% endblock %}
{% block postAuthor %}Phil Eaton{% endblock %}
{% block postAuthorEmail %}phil@multiprocess.io{% endblock %}
{% block postTags %}javascript,python,basic,schema,php,lua{% endblock %}

{% block postBody %}
<p>
  People often write about languages that compile to JavaScript. But
  what if you want to run languages in the browser, without any API to
  proxy code and I/O to a standard language implementation on a
  server? Recently I was trying to find
  languages <strong>implemented</strong> in JavaScript as possible
  scripting options for
  the <a href="https://app.datastation.multiprocess.io/">in-browser
  DataStation IDE</a>.
</p>
<p>
  Implementing JavaScript in JavaScript is easy. Sorta.
  <pre><code></code></pre>
</p>
{% endblock %}
