{% extends "blog/layout.tmpl" %}

{% block postTitle %}Introducing DataStation, the open-source data IDE for developers{% endblock %}
{% block postDate %}June 6, 2021{% endblock %}
{% block postAuthor %}Phil Eaton{% endblock %}
{% block postTags %}release{% endblock %}

{% block postBody %}
<p>
  While trying to do analysis at work I'd have a constant
  context-switch between using my SQL IDE to do SQL queries, Kibana to
  do ES exploration, Excel to do graphs on all of this data, and
  Python to write simple scripts on top of all these data sources or
  random Excel sheets I got from product/sales.
</p>
{% endblock %}
