{% extends 'blog/layout.tmpl' %}

{% block postBody %}
<p>
  One fortunate aspect of the pandemic is that the tech talk groups
  that remain active have all gone online. This means you no longer
  have to be in a particular city to attend a particular event.
</p>
<p>
  This list is a curated collection of interesting-sounding events by
  generally high-quality groups. If you have suggestions for events or
  groups to follow in the future, please email me!
</p>
<div class="events">
  {% for event in week_events %}
  <a class="event" href="{{ event.url }}">
    <h2 class="event-title">{{ event.title }}</h2>
    <div class="event-subtitle">By {{ event.by }} on {{ event.datetime }}</div>
    <div class="post-tags">{% for tag in event.tags %}<span class="post-tag">{{ tag }}</span>{% endfor %}</div>
  </a>
  {% endfor %}
</div>
<h2>Share</h2>
{% block tweet %}{% endblock %}
{% endblock %}