{% set title = 'Blog | DataStation' %}
{% extends 'layout.tmpl' %}

{% block body %}
<section class="post-body">
  <div class="container">
    <div class="subscribe">
      Stay in the loop about new blog posts; <a
	href="https://docs.google.com/forms/d/e/1FAIpQLSfYF3AZivacRrQWanC-skd0iI23ermwPd17T_64Xc4etoL_Tw/viewform">subscribe
	to the mailing list!</a>
    </div>
    <h1>Blog</h1>
    <div class="posts">
      {% for post in posts %}
      <div class="post">
	<a href="/{{ post.url }}" class="post-title">{{ post.title }}</a>
	<div class="post-subtitle">
	  Published on <span class="post-date">{{ post.date }}</span> by <span class="post-author">{{ post.author }}</span>
	</div>
	<span class="post-tags">{% for tag in post.tags %}<span class="post-tag">{{tag}}</span>{% endfor %}</span>
      </div>
      {% endfor %}
    </div>

    <div class="subscribe">
      Stay in the loop about new blog posts; <a
	href="https://docs.google.com/forms/d/e/1FAIpQLSfYF3AZivacRrQWanC-skd0iI23ermwPd17T_64Xc4etoL_Tw/viewform">subscribe
	to the mailing list!</a>
    </div>
  </div>
</section>
{% endblock %}
