{% extends 'layout.tmpl' %}

{% block body %}
<section class="post-header">
  <div class="container">
    <h1 class="post-title">{% block postTitle %}{% endblock %}</h1>
    <div class="post-subtitle">
      Published on <span class="post-date">{% block postDate %}{% endblock %}</span> by <span class="post-author">{% block postAuthor %}{% endblock %}</span>
    </div>
    <div class="post-tags">{% block postTags %}{% endblock %}</div>
  </div>
</section>
<section class="post-body">
  <div class="container">
    {% block postBody%}{% endblock %}
  </div>
</section>
{% endblock %}