{% extends 'layout.tmpl' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css" />
{% endblock %}

{% block body %}
<section class="post-body">
  <div class="container">
    <div><a href="/blog">Blog</a></div>
    <h1>{% block postTitle %}{% endblock %}</h1>
    <div class="post-subtitle">
      Published on <span class="post-date">{% block postDate %}{% endblock %}</span> by <span class="post-author">{% block postAuthor %}{% endblock %}</span>
    </div>
    <div class="post-tags">{% for tag in tags %}<span class="post-tag">{{tag}}</span>{% endfor %}</div>
    <p class="what-is-datastation"><label>What is DataStation?</label><small>{{ description }}</small></p>
    {% block postBody%}{% endblock %}
    <p>
      Questions? Feedback? Feel free to reach the author at {% block postAuthorEmail %}{% endblock %}.
    </p>
    <div class="subscribe-footer">
      <a href="https://forms.gle/wH5fdxrxXwZHoNxk8">Subscribe</a> for more posts like this!
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
