html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fbfbfb;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

strong {
    padding: 0 5px;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: blue;
}


a.header-link {
    display: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px;
    margin-left: -35px;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link {
    display: initial;
}

.button {
    border-radius: 3px;
    padding: 5px 15px;
}

.warn {
    background: red;
    color: white;
    padding: 5px;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
    padding: 0 50px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex--horizontal {
    flex-direction: row;
    align-items: center;
}

section {
    padding: 50px 0;
}

section:nth-of-type(odd) {
    background: #131313;
    color: white;
}

section:nth-of-type(odd) a {
    color: white;
    text-decoration: underline;
}

section.header {
    margin: 0;
    padding: 50px 0;
}

header, footer {
    padding: 15px 0;
}

.site-name, .site-name:visited {
    color: black;
    font-size: 1.5rem;
}

header {
    border-bottom: 1px solid #190029;
}

.header-item:not(:last-of-type) {
    padding-right: 15px;
}

.header-item:nth-last-child(2) {
    flex: 1;
}

header a.try-it-online {
    background: #9f04ff;
    color: white;
}

header a.try-it-online:hover {
    background: #6400a2;
}

.product-name {
    font-size: 4rem;
    padding-bottom: 15px;
}

.product-features {
    line-height: 1.5rem;
}

.product-features li {
    list-style: none;
    display: flex;
    padding: 5px;
}

.product-features li .material-icons {
    padding-right: 15px;
}

.product-picture {
    padding-left: 50px;
}

.product-picture iframe {
    height: 385px;
    width: 640px;
    border: 1px solid white;
}

.picture-text-description:nth-child(1) {
    padding-right: 30px;
}

.picture-text-description:nth-child(2) {
    padding-left: 30px;
}

.picture-text-picture img {
    box-shadow: 0 0 3px 0 black;
}

.picture-text-picture a {
    padding: 10px 0;
    display: block;
}

.header .button {
    background: white;
    margin-top: 50px;
    display: block;
    padding: 15px 30px;
}

.header .button:hover {
    background: #eee;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white
}

table td, table th {
    padding: 30px;
    vertical-align: top;
}

table thead th {
    text-align: left;
    font-size: 1.1rem;
}

table tbody tr {
    border-top: 1px solid #777;
}

table tbody tr td:first-of-type {
    text-align: right;
}

table tbody tr td:first-of-type, .coming-soon {
    font-size: .7rem;
    text-transform: uppercase;
}

table ul {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.show-mobile {
    display: none;
}

footer {
    border-top: 1px solid #6400a2;
}

footer .container > * {
    margin-top: 5px;
}

.posts .post {
    margin: 60px 0;
}

.post-body  p, .post-header p, .post-footer p, .post-body li {
    width: 650px;
    max-width: 100%;
}

.post-subtitle {
    padding: 5px 0;
}

.post-title:not(h1) {
    font-size: 1.2rem;
}

.post-date, .post-author {
    font-weight: bold;
}

.post-tag {
    margin-top: 15px;
    font-size: .9rem;
    display: inline-block;
    margin-right: 5px;
    background: #473c56;
    padding: 0 5px;
    border: 1px solid #7b6b90;
}

p, li {
    line-height: 2rem;
}

p {
    padding: 15px 0;
}

.post-body .product-picture {
    padding-top: 15px;
    padding-left: 0;
    width: 650px;
    max-width: 100%;
}

.post-body img {
    box-shadow: 0 0 3px 0 black;
}

.caption {
    font-size: .9rem;
    text-align: center;
    color: #999;
}

.post-footer p {
    font-size: .9rem;
}

.event {
    padding: 15px;
    display: block;
    border: 1px solid #ccc;
    margin: 15px 0;
}

.event-title {
    font-size: 1.5rem;
}

.event-title, .event-title:visited {
    color: black;
}

.posts .post-tag, .event .post-tag {
    background: #ece7f3;
    color: #333;
    border-color: #dad1e6;
}

.code {
    max-height: 800px;
}

.hljs code,
.hljs.code {
    background: white;
}

.code, p code {
    background: white;
    font-size: 1rem;
    border: 1px solid #ebebeb;
}

.code {
    width: 900px;
    padding: 15px;
    overflow: auto;
    max-width: 100%;
}

.code-caption {
    font-size: .8rem;
    color: #777;
    display: block;
    margin-bottom: -1.5em;
}

.videos {
    display: flex;
    flex-wrap: wrap;
}

.video {
    flex: 0 1 calc(50% - 20px);
    text-align: center;
    margin: 30px 0;
}

.video-name {
    font-size: 1.2rem;
}

.video-date {
    color: #555;
}

.post-footer .subscribe {
    margin: 0 5px;
    background: #9f04ff;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    border: 1px solid #d9bbec;
}

.pb-4 {
    padding-bottonm: 20px;
}

@media only screen and (max-width: 600px) {
    .container {
	padding: 0 15px;
	overflow-x : auto;
    }

    header a:first-of-type {
	font-size: initial;
    }

    .product-name {
	font-size: 3rem;
    }

    .header {
	padding: 15px 0;
    }

    .flex-mobile--column {
	flex-direction: column;
    }

    .product-picture {
	padding: 0;
	padding-top: 50px;
    }

    .post-body .product-picture {
	padding-top: 15px;
    }

    .product-picture iframe {
	height: initial;
	width: initial;
    }

    .picture-text-description {
	padding: 0;
    }
}
