:root {
    --tabs: #f3f3ff;
    --background-dark: #252539;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: #efefef;*/
    background: f3f4ff;
}

h1, h2, h3, h4, h5, h6, table {
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.3rem;
}

strong {
    padding: 0 5px;
    font-weight: bold;
}

a {
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    color: #3535d0;
}

a:visited {
    color: #3535d0;
}

.notification {
    line-height: 0;
    color: white;
    font-size: .9rem;
    background: #9f05ff;
    background: linear-gradient(90deg, rgba(28,144,222,1) 0%, rgba(23,122,198,1) 21%, rgba(159,5,240,1) 95%)
}

.notification a {
    color: white;
    text-decoration: underline;
}

header {
    background: white;
}

header .header-right > * {
    margin-left: 8px;
}

.header-link.material-icons {
    display: none;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    display: block;
    position: absolute;
    top: 10px;
    left: -30px;
}

.button {
    border-radius: 3px;
    padding: 5px 15px;
}

.warn {
    background: red;
    color: white;
    padding: 5px;
}

.container {
    padding: 15px;
    margin: 0 auto;
    width: 1600px;
    max-width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex--horizontal {
    flex-direction: row;
    align-items: center;
}

.features {
    align-items: baseline;
    justify-content: space-evenly;
}

.features > div {
    align-self: stretch;
    padding: 15px 30px;
}

section {
    padding: 50px 0;
}

p a {
    text-decoration: underline;
}

footer {
    padding: 15px;
    background: white;
}

#title {
    font-size: 2rem;
    color: black;
}

#subtitle {
    font-size: .75rem;
    display: block;
}

#subheader {
    background: var(--tabs);
}

#subheader a {
    margin-right: 50px;
    display: inline-block;
    border-bottom: 3px solid transparent;
    color: black;
}

#subheader a:hover {
    border-bottom-color: black;
}

.product-name, .large-text {
    font-size: 4rem;
    padding-bottom: 15px;
    font-weight: 600;
}

.product-picture {
    padding-left: 50px;
}

.product-picture iframe {
    height: 385px;
    width: 640px;
    border: 1px solid white;
}

.picture-text-description:nth-child(1) {
    padding-right: 30px;
}

.picture-text-description:nth-child(2) {
    padding-left: 30px;
}

.picture-text-picture img {
    box-shadow: 0 0 3px 0 black;
}

.picture-text-picture a {
    padding: 10px 0;
    display: block;
}

.header .button {
    background: white;
    margin-top: 50px;
    display: block;
    padding: 15px 30px;
}

.header .button:hover {
    background: #eee;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: 30px;
    vertical-align: top;
}

table thead th {
    text-align: left;
    font-size: 1.1rem;
}

table tbody tr {
    border-top: 1px solid #777;
}

table tbody tr td:first-of-type {
    text-align: right;
}

table tbody tr td:first-of-type, .coming-soon {
    font-size: .7rem;
    text-transform: uppercase;
}

table ul {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.show-mobile {
    display: none;
}

.about-this-page {
    background: var(--tabs);
    padding: 30px;
    margin-top: 30px;
}

footer {
    border-top: 1px solid #6400a2;
}

footer .container > * {
    margin-top: 5px;
}

.tabs-body {
    display: none;
}

.tabs-controls-container {
    background: var(--tabs);
}

.tabs-controls-container .container {
    padding: 0;
}

.tabs-controls {
    display: flex;
}

.tabs-controls .tab-control {
    padding: 30px 60px;
    color: black;
    text-decoration: none;
}

.tabs-controls .tab-control.selected,
.tabs-controls .tab-control:hover {
    background: var(--background-dark);
    color: white;
}

.tabs-controls .tab-control:hover:not(.selected) {
    background: #393939;
}

.tabs-container {
    padding: 100px 0;
}

.flex-right {
    flex: auto;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.vertical-align-center {
    display: flex;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.width-50 {
    width: 50%;
}

.color-red {
    color: #fd5b5b;
}

.color-light-purple {
    color: #b442fc;
}

.color-light-pink {
    color: #fd36af;
}

.color-light-blue {
    color: #734EFD;
}

.color-green {
    color: #b0ff00;
}

.color-yellow {
    color: #ffd100;
}

.btn {
    padding: 10px;
    display: inline-block;
}

.btn.btn--primary {
    color: white;
    background: #9f04ff;
}

.btn.btn--primary:hover,
.btn.btn--primary:active {
    background: #fd36af;
}

.carousel-image {
    height: 0;
    width: 0;
    opacity: 0;
}

.carousel-image small {
    text-align: center;
    padding-top: 5px;
    display: none;
    color: #aaa;
}

.carousel-image.selected {
    height: 100%;
    width: initial;
    opacity: 1;
}

.carousel-image.selected small {
    display: block;
}

.carousel-selectors {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.carousel-selector {
    background: rgba(255, 255, 255,.5);
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin: 0 5px;
}

.carousel-selector.selected {
    background: rgba(255, 255, 255, .8);
}

.posts .post {
    margin: 60px 0;
}

.posts .post:first-of-type {
    margin-top: 0;
}

.posts .post:last-of-type {
    margin-bottom: 0;
}

.post-body h4 {
    font-weight: bold;
    margin-top: 50px;
}

.post-body .container {
    width: 1200px;
}

.post-body {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
}

.post-header a, .post-footer a {
    color: white;
    text-decoration: underline;
}

.post-subtitle {
    padding: 5px 0;
}

.post-title:not(h1) {
    font-size: 1.2rem;
}

.post-date, .post-author {
    font-weight: bold;
}

.post-tags {
    margin-bottom: 15px;
}

.post-tag {
    margin-top: 15px;
    font-size: .9rem;
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    border: 1px solid #7b6b90;
}

p, li {
    line-height: 2rem;
}

p {
    padding: 15px 0;
}

.post-body .product-picture {
    padding-top: 15px;
    padding-left: 0;
    width: 750px;
    max-width: 100%;
}

.post-body img:not(.no-shadow) {
    box-shadow: 0 0 3px 0 black;
}

.post-body h2,
.post-body h3 {
    margin-top: 30px;
}

.caption {
    font-size: .9rem;
    text-align: center;
    color: #999;
}

.post-footer p {
    font-size: .9rem;
}

.event {
    padding: 15px;
    display: block;
    border: 1px solid #ccc;
    margin: 15px 0;
}

.event-title {
    font-size: 1.5rem;
}

.event-title, .event-title:visited {
    color: black;
}

.posts .post-tag, .event .post-tag {
    background: #ece7f3;
    color: #333;
    border-color: #dad1e6;
}

code.hljs {
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    max-height: 400px;
}

.asterisks {
    font-size: .9rem;
    color: #333;
}

.code, p code {
    background: white;
    font-size: 1rem;
    border: 1px solid #ebebeb;
}

p code.hljs {
    padding: 3px 5px;
    display: inline;
}

.code {
    width: 900px;
    padding: 15px;
    overflow: auto;
    max-width: 100%;
}

.code-caption {
    font-size: .8rem;
    color: #777;
    display: block;
    margin-bottom: -1.5em;
}

.videos {
    display: flex;
    flex-wrap: wrap;
}

.video {
    flex: 0 1 calc(50% - 20px);
    text-align: center;
    margin: 30px 0;
}

.video-name {
    font-size: 1.2rem;
}

.video-date {
    color: #555;
}

ul.checks {
    list-style: none;
    position: relative;
    margin-left: 0;
    padding-left: 20px;
}

ul.checks li:before {
    content: "\002713";
    position: absolute;
    left: 0;
}

.subscribe-footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 50px;
    border: 1px solid #3535d0;
}

.subscribe-footer a {
    font-weight: 900;
}

.post-footer input {
    border: 0;
    padding: 15px;
    min-width: 500px;
}

.post-footer form {
    margin-top: 15px;
}

.what-is-datastation {
    background: #fbf5ff;
    border: 1px solid #ddd;
    padding: 15px;
}

.what-is-datastation label {
    display: block;
    font-size: .9rem;
    font-weight: bold;
}

.pt-4 {
    padding-top: 20px;
}

.pb-4 {
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    h1, h2, h3, h4, h5, h6, table {
	font-weight: initial;
    }

    .container {
	padding: 0 15px;
	overflow-x : auto;
    }

    header a:first-of-type {
	font-size: initial;
    }

    .product-name {
	font-size: 3rem;
    }

    .header {
	padding: 15px 0;
    }

    .flex-mobile--column {
	flex-direction: column;
    }

    .product-picture {
	padding: 0;
	padding-top: 50px;
    }

    .post-body .product-picture {
	padding-top: 15px;
    }

    .product-picture iframe {
	height: initial;
	width: initial;
    }

    .picture-text-description {
	padding: 0;
    }

    .features {
	display: block;
    }

    .header-right {
	flex-direction: column;
	align-items: end;
    }

    .header-right > * {
	margin-left: 0;
    }

    .header-subscribe {
	padding-top: 8px;
    }

    section {
	padding: 30px 0;
    }

    header {
	padding: 15px 0;
    }
}
