{% set title = doctitle + ' | DataStation' %}

{% extends 'layout.tmpl' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css" />
{% endblock %}

{% block body %}
<section>
  <div class="container">
    <h1>{{doctitle}}</h1>
    {% if subtitle %}{{ subtitle }}{% endif %}
</section>
<section class="post-body">
  <div class="container">
    {% block docbody %}{% endblock %}
  </div>
</section>
{% endblock %}